@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../fonts/IBMPlexMono-SemiBold.woff2") format("woff2");
  font-weight: 700;
  font-display: fallback;
}

:root {
  --color-gray: #7c7c7a;
  --color-gray-medium: #e1e1e0;
  --color-gray-light: #f9f7f4;
  --color-black-light: #1f1f1f;
  --color-red: #e77728;
  --color-white: #fff;
  --color-white-light: #cccccc;
}

:root {
  --theme-bg: var(--color-gray-light);
  --theme-text: var(--color-black-light);
  --theme-sub-text: var(--color-gray);
  --theme-link: var(--color-red);
  --theme-link-hover: var(--color-white);
  --theme-code-block: var(--color-gray-medium);

  color-scheme: light dark;
  color: var(--theme-text);

  font-family: "IBM Plex Mono", monospace;
  line-height: 1.7;

  hyphens: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.10s;
  animation-timing-function: ease;
}

body {
  background: var(--theme-bg);

  font-size: 13px;
  max-width: 60em;
  padding: 7em;
}

@media only screen and (max-width: 480px) {
  body {
    max-width: 100%;
    padding: 1em;
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-bg: var(--color-black-light);
    --theme-text: var(--color-white-light);
    --theme-code-block: var(--color-gray);
  }
}

p,
span {
  font-size: 1em;
  color: var(--theme-text);
}

small {
  font-size: 0.833rem;
}

a {
  color: var(--theme-link);
  font-weight: 400;
}

a:hover {
  background-color: var(--color-red);
  color: var(--theme-link-hover);

  text-decoration: none !important;
}

hr {
  background-color: var(--theme-sub-text);

  border-color: transparent;
  border-bottom: none;
}

.contains-task-list {
  list-style: none;
  padding-inline-start: 1.2em;
}
