---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import PostPreview from '../components/PostPreview.astro';
import Footer from '../components/Footer.astro';

const title = 'Vlad Esafev';
const description = 'Not causing trouble, not touching anything, fixing the primus';
const permalink = 'https://esafev.com';

const publishedPosts =
  (await Astro.glob('./posts/*.md'))
   .sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())
   .filter(a => !a.frontmatter.publshed);
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
  </head>

  <body>
    <Header />
    <main>
      {publishedPosts.map((p) => <PostPreview post={p} />)}
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    margin: 3em 0;
  }
</style>
