---
import BaseLayout from '@/layouts/BaseLayout.astro';

import Notes from '@/components/Notes.astro';
import Intro from '@/components/Intro.astro';
import LastUpdated from '@/components/LastUpdated.astro';

const title = 'Vlad Esafev';
const description = 'Not causing trouble, not touching anything, fixing the primus';
const link = import.meta.env.SITE;
---

<BaseLayout
  title={title}
  headProps={{ description, link, title }}
>
  <main>
    <Intro />
    <h2>Recent notes:</h2>
    <Notes />
  </main>

  <LastUpdated slot='footer' />
</BaseLayout>

<style>
  h2 {
    margin-bottom: 0.5em;

    color: var(--theme-sub-text);
    text-decoration: none;

    font-size: 1em;
    font-weight: 400;
    font-style: italic;
  }
</style>
