---
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import NotePreview from '@components/NotePreview.astro';
import Footer from '@components/Footer.astro';

import { getNotes } from '@utils/notes';

const title = 'Vlad Esafev';
const description = 'Not causing trouble, not touching anything, fixing the primus';
const link = import.meta.env.SITE;
const notes = getNotes();
---

<html lang="en">
  <head>
    <Head {title} {description} {link} />
  </head>

  <body>
    <Header />
    <main>
      {notes.map((n) => <NotePreview note={n} />)}
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    margin: 3em 0;
  }
</style>
