<footer>
  <hr width='25%'/>
  <p>Hi, I'm Vlad, a t-shaped engineer, currently working at <a href='https://readymag.com'>Readymag</a>.</p>
  <br />
  <span>
    [↗]: <a href='mailto:vlad@esafev.com'>@</a>, <a href='https://are.na/vlad-esafev'>Are.na</a>, <a href='https://github.com/esafev'>GitHub</a>, <a href='https://x.com/vladesafev'>X</a>, <a href='https://esafev.com/rss.xml'>RSS</a>
  </span>
</footer>

<style>
  footer p, span {
    color: var(--theme-sub-text);
  }

  footer hr {
    margin-bottom: 1em;
  }
</style>
