<footer>
  <hr width='25%'/>
	<p>Hi, I'm Vlad, a t-shaped engineer, currently working at <a href='https://readymag.com'>Readymag</a>.</p>
  <p>And you can <a href='mailto:vlad@esafev.com'>get in touch</a> with me.</p>
  <br />
  <span>
    [↗]: <a href='https://are.na/vlad-esafev'>Are.na</a>, <a href='https://github.com/esafev'>GitHub</a>, <a href='https://twitter.com/vladesafev'>Twitter</a>
  </span>
</footer>

<style>
  footer p, span {
    color: var(--theme-sub-text);
  }

  footer hr {
    margin-bottom: 1em;
  }
</style>