---
export interface Props {
  title?: string;
}

const { title = 'Vlad Esafev' } = Astro.props;
---

<header>
  <h1>
    <a href='/'>
      {title}
    </a>
  </h1>
</header>

<style>
  header {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 1em;
  }

  a {
    text-decoration: none;
    color: var(--theme-sub-text);

    &:hover {
      background: none;
      color: var(--theme-sub-text);
    }
  }
</style>
