<header>
  <h1>
    <a href='/'>
      Vlad Esafev
    </a>
  </h1>
</header>

<style>
  header h1 {
    font-size: 1em;
  }

  header a {
    margin-bottom: 2rem;
    text-decoration: none;

    color: var(--theme-sub-text);
  }

  header a:hover {
    background: none;
  }
</style>
