<section>
  <p>Software engineer focused on design, clarity, and the complexity behind simple things.</p>
  <p>Over the past four years, I’ve been building at <a target='_blank' href='https://readymag.com'>Readymag</a><sup>[↗]</sup> as a full-stack engineer — working across frontend, infrastructure, and product-driven development. I care about well-made decisions, meaningful details, and tools that stay out of the way.</p>
  <p><i>Interests</i></it>: AI, distributed systems, local-first software, early Apple, writing, philosophy, and computer history.</p>
</section>

<style>
  p {
    margin-bottom: 1em;
  }
</style>
