---
let lasUpdatedDate: string;
try {
  const ghResponse = await fetch(
    'https://api.github.com/repos/esafev/thoughts/branches/main'
  );
  const ghCommits = await ghResponse.json();

  const lastCommitDate = ghCommits?.commit?.commit?.author?.date;
  const date = new Date(lastCommitDate);
  const dateTimeFormat = new Intl.DateTimeFormat('en-US', {
    timeZone: 'Europe/Berlin',
    dateStyle: 'medium',
    timeStyle: 'short'
  });

  lasUpdatedDate = `${dateTimeFormat.format(date)} [CET]`;
} catch {
  lasUpdatedDate = 'unknown';
}

---

<span>Last updated: {lasUpdatedDate}</span>


<style>
  span {
    color: var(--theme-sub-text);
    opacity: .7;
    font-size: .9em;
  }
</style>
