---
import { isProd } from '@/lib/misc';
import { formatUpdatedDate } from '@/lib/date';

let lastUpdatedDate: string;
try {
  if (!isProd()) {
    lastUpdatedDate = formatUpdatedDate(new Date());
  } else {
    const ghResponse = await fetch(
      'https://api.github.com/repos/esafev/thoughts/branches/main'
    );
    const ghCommits = await ghResponse.json();
    const lastCommitDate = ghCommits?.commit?.commit?.author?.date;

    lastUpdatedDate = formatUpdatedDate(new Date(lastCommitDate));
  }
} catch {
  lastUpdatedDate = 'unknown';
}

---

<span>Last updated: {lastUpdatedDate}</span>


<style>
  span {
    color: var(--theme-sub-text);
    opacity: .7;
    font-size: .9em;
  }
</style>
