---
import type { Note } from '@/types/note';
import { formatDate } from '@/lib/date';

export interface Props {
  note: Note;
}

const {
  note: {
    slug,
    data: {
      title,
      pubDate
    }
  }
} = Astro.props;
---

<section>
  <h2>
    <a href={`/notes/${slug}`}>{title}</a>
  </h2>
  <span>{formatDate(pubDate, 'short')}</span>
</section>

<style>
  section {
    display: flex;
    justify-content: space-between;
  }

  section span {
    color: var(--theme-sub-text);
    white-space: nowrap;
  }

  section h2 {
    margin: 0 1em 0 0;
    font-size: 1em;
    color: var(--theme-link);

    min-width: 0;
    display: flex;
  }

  section h2 a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  section h2:hover {
    color: var(--theme-link-hover);
  }

  section:not(:first-child) {
    margin-top: .5em;
  }
</style>
