---
import NotePreview from '@/components/NotePreview.astro';
import { getNotes } from '@/lib/notes';

const notes = await getNotes();
---

<section>
  {notes.map((n) => <NotePreview note={n} />)}
</section>
