---
export interface Props {
  title: string;
  pubDate: string;
}

const { title, pubDate } = Astro.props;
---

<section>
  <h2>{title}</h2>
  <span>{pubDate}</span>
</section>

<style>
  section {
    margin: 3em 0;
  }

  section h2 {
    margin: 1em 0 .5em;
    font-size: 1.1em;
  }

  section span {
    color: var(--theme-sub-text);
  }
</style>
