---
export interface Props {
  title: string;
  pubDate: Date;
}

const { title, pubDate } = Astro.props;

const formattedDate = pubDate?.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
}) || 'Unknown date';
---

<section>
  <h2>{title}</h2>
  <span>{formattedDate}</span>
</section>

<style>
  section {
    margin: 3em 0 2em 0;
  }

  section h2 {
    margin: 1em 0 .5em;
    font-size: 1.1em;
  }

  section span {
    color: var(--theme-sub-text);
  }
</style>
