---
// TODO: Type it
export interface Props {
  post: any;
}

const { 
  post: { 
    url,
    frontmatter: {
      title,
      pubDate
    } 
  }
} = Astro.props;
---

<section>
  <h2>
    <a href={url}>{title}</a>
  </h2>
  <span>{pubDate}</span>
</section>

<style>
  section {
    display: flex;
    justify-content: space-between;
  }

  section span {
    color: var(--theme-sub-text);
    white-space: nowrap;
  }

  section h2 {
    margin: 0 1em 0 0;
    font-size: 1em;
    color: var(--theme-link);
  }

  section h2:hover {
    color: var(--theme-link-hover);
  }

  section:not(:first-child) {
    margin-top: .7em;
  }
</style>
