---
import Head from '@/components/Head.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';


const title = 'Vlad Esafev';
const description = 'Not causing trouble, not touching anything, fixing the primus';
const link = import.meta.env.SITE;
---

<html lang='en'>
  <head>
    <Head {title} {description} {link} />
  </head>

  <body>
    <Header title='↩ Index' />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
